// Place all the styles related to the new controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//   border: 1px dashed black;
//   padding: 10px;
//   margin: 10px;
// }

#add-questions-title{
  text-align: left;
  margin-left: 10%;
}

#author-id {
  display: none;
}

.new-question-container {
  // border: 1px solid black;
  width: 50%;
  padding: 1em;
  // margin: auto;
  margin-left: 11%;
}

.new-question-select {
  font-size: 1em;
  background-color: white;
  outline-color: white;
}

.question {
  border: 1px solid black;
  padding: 1em;
  // width: 100%;
  background: #4E4D5C;
}

.hidden-question {
  display: none;
}

.add-button-container {
  width: 100%;

  .add-question-button {
    padding: 1em;
    background: white;
    border-radius: .25em;
    border: 1px solid black;
    width: 15em;
    margin-top: .5em;
    margin-left: 12%;
  }

}

.multiple-choice-field {
  display: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  resize: none;
}

.add-question-button:hover {
  cursor: pointer;
}

  .question-display {
    // visibility: hidden;

    .question-short-answer{

    }

    .question-long-answer {

    }

    .question-yes-no {
      display: none;
    }

    .show-question {
      display: block;
    }
  }


.new-survey-page-container {
  margin-top: 12em;
}

.field {
  // border: 1px solid #F5F5F5;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  resize: none;
}

.field label {
  // font-size: 1.1em;
  margin-left: 5%;
}

#survey_title, #survey_description {
  display: block;
  width: 90%;
  height: 2em;
  font-size: 1.75em;
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: 10px;
}

#survey_description {
  font-size: 1.25em;
}

.actions input[type=submit]{
  background: #E06A69;
  border-style: none;
  // font-size: 1em;
  cursor: pointer;
  margin-left: 12%;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  color: white;
}

.delete-button {
  float: right;
  padding: 5px;
  cursor: pointer;
  margin-top: -0.75em;
}

.remove-question {
  display: none;
}

.links {
  display: inline;
  // font-size: 0.5em;
  // float: right;
}

.add-questions-title {
  margin-left: 13%;
}
