// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: $background-color;
}

.site-header {
  width: 100%;
  background-color: $header;
  color: $text-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.dashboard-header__container {
  background-color: $secondary-header;
  margin: 4em auto 0 auto;
  width: 95%;
  padding: .5em;


  .dashboard-header {
    color: $text-color;
    width: 100%;
    display: inline;
    margin: .5em;
  }

  .new-survey__link {
    // position: absolute;
    top: 18.5%;
    left: 27.5%;
    font-size: 1.3em;
    display: inline;

  }

  .icon-plus {
    // position: absolute;
    // top: 18.75%;
    // left: 26%;
    color: $text-color;
    display: inline;

  }

  .logout-button__link {
    font-size: 1.3em;
    display: inline;
  }

  .icon-logout {
    top: 18.75%;
    right: 7.5%;
    color: $text-color;
    display: inline;
    margin-left: 1em;
  }
}

.dashboard-container {
  width: 95%;
  padding: 1em;
  background-color: $background-accent;
  color: $text-color;
  margin: auto;
}

.survey-list-container {
  display: table;
  width: 95%;
  margin: auto;

  .list-head {
    display: table-header-group;

    .column-titles {
      display: table-row;
      font-size: 1.3em;

      .list-labels {
        display: table-cell;
        padding-bottom: .5em;
        padding-right: 1em;
        font-weight: 600;
      }
    }
  }

  .survey-list {
    display: table-row-group;
    &:nth-child(3) {
      background-color: lightblue;
    }

    .survey-list__item {
      display: table-row;
      list-style-type: none;

      .survey-list__author,
      .survey-list__title,
      .survey-list__description {
        display: table-cell;
        padding: 1em 0;
        font-size: 1.3em;
      }

      .survey-list__author {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        padding-left: .5em;
      }

      .survey-list__title {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }

      .survey-list__description {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }

      .survey-list__link {
        display: table-cell;
        text-decoration: none;
        width: 1em;
        padding: 0 .5em;
        font-size: 1em;
      }

      }
    }
  }

.icons {
  font-family: 'rails-collab';
  font-size: 1em;
  margin-right: 1em;
  float: right;
  word-spacing: 8px;
  color: $text-color;
}
