// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-header {
  margin: 2em 0 .5em .2em;
  font-size: 3.5em;
}

.new-survey__link {
  position: absolute;
  top: 18.5%;
  left: 27.5%;
  font-size: 1.3em;
}

.icon-plus {
  position: absolute;
  top: 18.75%;
  left: 26%;
}

.icon-logout {
  position: absolute;
  top: 18.75%;
  right: 7.5%;
}

.logout-button__link {
  position: fixed;
  top: 18.5%;
  right: 2%;
  font-size: 1.3em;
}

.dashboard-container {
  width: 100%;
  padding: 1em;
}

.survey-list-container {
  display: table;
  width: 100%;
  margin: auto;

  .list-head {
    display: table-header-group;

    .column-titles {
      display: table-row;
      font-size: 1.3em;

      .list-labels {
        display: table-cell;
        padding-bottom: .5em;
        font-weight: 600;
      }
    }
  }

  .survey-list {
    display: table-row-group;
    &:nth-child(3) {
      background-color: lightblue;
    }

    .survey-list__item {
      display: table-row;
      list-style-type: none;

      .survey-list__author,
      .survey-list__title,
      .survey-list__description {
        display: table-cell;
        padding: 1em 0;
        font-size: 1.5em;
      }

      .survey-list__author {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-left: .5em;
      }

      .survey-list__title {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }

      .survey-list__description {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }

      .survey-list__link {
        display: table-cell;
        text-decoration: none;
        width: 1em;
        padding: 0 .5em;
        font-size: 1em;
      }

      }
    }
  }

.icons {
  font-family: 'rails-collab';
  text-decoration: none;
  font-size: 1em;
  margin-right: 1em;
  float: right;
  word-spacing: 8px;
}
