// Place all the styles related to the new controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  border: 1px solid black;
}

.survey-title {
  text-align: center;
}

.survey-description {
  margin-top: -0.75em;
  text-align: center;
}

.survey-questions-container {
  margin-left: 10%;
}

.survey-question-description {
  margin-top: -0.5em;
  font-size: 0.75em;
}

.survey-question-type {
  margin-top: -0.5em;
}

.author {
  display: none;
}

// When survey is submitted, this notice id popped up in green
// on the screen.  This is just hiding that.
#notice {
  visibility: hidden;
}

.nav {
  float: right;
}
